.filterContainer{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
} 

.filters{
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/* .filters .container-filter {
  padding: 20px;
  display: flex;
  flex-direction: row;
} */

.filterContainer .block{
  background: #fff;
  min-height: 350px;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.8);
  position: relative;
}



.filterContainer .block .close{
  position: absolute;
  top:3px;
  right: 3px;
  color:#ff261b;
  font-size: 15pt;
}
.filterContainer .block .title{
  font-size: 18pt;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.filterContainer .block input{
  width: 250px;
  height: 45px;
  border-radius: 4px;
  border: 1px solid #ff261b;
  font-size: 13pt;
  padding: 10px;
  margin-bottom: 10px;
}

.filterContainer .block textarea{
  width: 250px;
  border-radius: 4px;
  border: 1px solid #ff261b;
  font-size: 13pt;
  padding: 10px;
  resize: none;
  overflow:hidden
}

.filterContainer .block input::placeholder {
  font-size: 15px;
  color: #ff483ea8;
}

.filterContainer .block textarea::placeholder {
  font-size: 15px;
  color: #ff483ea8;
}

.filterContainer .block .enter{
  width: 250px;
  height: 45px;
  margin-top: 20px;
  border: 0;
  border-radius: 4px;
  color: #fff;
  background: #ff261b;
  font-size: 13pt;
}

.balanceContainer .block .enter:hover {
  background: #e70c00;
}

.filter{
  padding: 10px;
  width: 100%;
  min-height: 50px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.filter select {
  width: 50%;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  color: #333;
  box-shadow: 0 0 5px #e70c00b2;
  cursor: pointer;
  
}

.filter select option{
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: 0;
}

.container-filter {
  display: block;
  position: relative;
  padding-left: 40px;
  color: #888;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-filter input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  border-radius: 5px;
  border:thin solid rgba(243, 36, 36, 0.61);
  top: 0;
  left: 5px;
  height: 25px;
  width: 25px;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.container-filter:hover input ~ .checkmark {
  background-color:rgba(245, 22, 22, 0.801);
}

/* When the checkbox is checked, add a blue background */
.container-filter input:checked ~ .checkmark {
  background-color: #ff0101;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-filter input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-filter .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.search {
  display: flex;
  width: 100%;
  padding: 20px
}

.search input[type='submit']{
   width: 100%; 
   background: #ff261b;
   color: #fff;
   font-size: 18px;
   font-weight: bold;
}
 
.search input[type='submit']:hover{
  background: #ff0d00;
}